body{
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}

/*burger-menu*/

.wrapper{
	cursor: pointer;
	height: 30px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
	display: none;
}

.burger, 
.burger:before,
.burger:after{
  width: 30px;
  height: 2px;
  background-color: #00C0FF;
}

.burger:before{
  content: "";
  position: absolute;
  top: 25%;
}

.burger:after{
  content: "";
  position: absolute;
  bottom: 26%;
}

/*container*/

.container {
	width: 100%;
	max-width: 1483px;
	margin: 0 auto;
	padding: 0 15px;
	z-index: 2;
	position: relative;
}

.container__smaller {
	width: 100%;
	max-width: 896px;
	margin: 0 auto;
}

/*header*/

.header{
	display: flex;
	background: black;
	width: 100%;
	padding: 10px 0px 10px 0px;
	
}

.header__inner{
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo a{
	font-family: 'Raleway', sans-serif;
	color: white;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
}

.logomini {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: #00C0FF;
	font-size: 15px;
}

/*nav*/

.nav{
	font-size: 14px;
}

.nav__link{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 19px;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: top;
	margin: 0 80px;
	color: #00C0FF;
	text-decoration: none;
	transition: color .2s linear;
}

.nav__link:hover{
	color: #fff;
}

/*intro*/


.intro{
	padding-top: 30px;
	width: 100%;
	height: 100vh;
	background: url("img/intro-bg.png") top left no-repeat;
	background-size: cover;
}

.intro::after{
	position: absolute;
	content: '';
	width: 100%;
	height: 100vh;
	top: 0;
	background-color: rgba(0,0,0,0.6);
}

.intro__inner {
	position: relative;
	z-index: 1;
	width: 100%;
	max-width: 782px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	max-height: 800px;
	text-align: center;
	cursor: default;
}

.intro__title{
	color: #fff;
	text-transform: uppercase;
	font-size: 180px;
	font-weight: 900;
	cursor: default;
}

.intro__text{
	color: #fff;
	font-size: 18px;	
}

/*second section*/

.sec2{
	background-color: #fff;
	padding-top: 160px;
	padding-bottom: 160px;
}

.container__smaller{
	max-width: 896px;
	width: auto;
}

.second__header{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: #00C0FF;
	margin-bottom: 44px;
}

.second_p{
	font-size: 18px;
	line-height: 1.8;
}

.second__title{
	margin-bottom: 55px;
	font-weight: bold;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color: #00C0FF;
	font-size: 29px;
	text-transform: uppercase;
}


/*Button*/

.btn{
	display: inline-block;
	vertical-align: top;
	padding: 15px 60px;
	border: 2px solid #fff;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	font-weight: bold;
	font-size: 25px;
	align-self: center;
	margin-top: 50px;
	border-radius: 30px;
	background-color: #fff;
	opacity: 0.7;
	color: #3EA2D8;
}

.btn:hover{
	background: black;
	transition: .2s linear;
}

/*third section*/

.sec3{
	background: #2B2B2B;
	color: white;
}

.header__sec3{
	width: 100%;
	margin: 0 auto;
	padding: 125px 0px 125px;
	display: flex;
	justify-content: space-between; 
	line-height: 1.5;
}

.sec3__h3{
	margin-bottom: 43px;
}

.sec3__item{
	width: 28%;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}

/*forth section*/

.sec4{
	background: url("img/fx.jpg") center no-repeat;
	width: 100%;
	height: 1200px;
	background-size: cover;
	position: relative;
}

.sec4::after{
	height: inherit;
	position: absolute;
	content: '';
	width: 100%;
	top: 0;
	background-color: rgba(0,0,0,0.6);
}


.header__sec4{
	width: 100%;
	margin: 0 auto;
	padding: 135px 0px 100px;
	display: flex;
	flex-direction: column; 
}

.sec4__blocks{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.person{
	margin: 15px;
	background: #2B2B2B;
	width: 360px;
	height: 360px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.person__inner{
	width: 175px;
	height: 231px;
	background: #2B2B2B;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	flex-direction: column;
	display: flex;
	justify-content: space-between;
}

.person__h4{
	font-weight: bold;
}

.person__p{
	width: 100%;
	text-transform: capitalize;
}

.person__position{
	text-transform: lowercase;
}

.person__name{
	font-size: bold;
	font-family: 'Roboto', sans-serif;
}

/*fifth section*/

.sec5{
	color: #00C0FF;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.sec5__div {
	max-width: 714px;
	margin: 0 auto;
}

.sec5__title{
	font-size: 29px;
	text-transform: uppercase;
	padding-top: 100px;
}

.sec5__p{
	font-size: 18px;
	margin-top: 37px;
}

.sec5__bottom{
	display: flex;
	justify-content: space-between;
	max-width: 348px;
	margin: 100px auto 0;
}

.sec5__bottom a{
	display: inline-block;
	color: #00C0FF;
	text-decoration: none;
}

/*sixth section*/

.sec6{
	margin: 82px auto 0;
	display: flex;
	width: 100%;
	max-width: 1040px;
	justify-content: space-between;
	height: 400px;
}

.sec6__1{
	width: 69px;
	height: 119px;
	background-image: url("img/Clip1.png");
}

.sec6__2{
	margin-top: 4px;
	width: 98px;
	height: 108px;
	background-image: url("img/Clip2.png");
}

.sec6__3{
	margin-top: 4px;
	width: 85px;
	height: 107px;
	background-image: url("img/Clip3.png");
}

/*seventh section*/

.sec7{
	background-color: #2B2B2B;
}

.sec7__wrapper{
	text-align: center;
	width: 100%;
	max-width: 790px;
	display: flex;
	color: #00C0FF;
	margin: 0 auto;
	flex-direction: column;
	font-family: 'Raleway', sans-serif;
}

.sec7__p{
	margin-top: 123px;
	font-size: 20px;
}

.sec7__author{
	margin-top: 48px;
	font-size: 18px;
	margin-bottom: 63px;
}

/*eights section*/

.sec8__common{
	display: flex;
}

.sec8__content{
	margin-top: 190px;
	width: 50%;
	font-family: 'Raleway', sans-serif;
	color: #00C0FF;
	display: flex;
	flex-direction: column;
	padding-left: 200px;
}

.sec8__content__text{
	margin-top: 33px;
	max-width: 461px;
	font-size: 18px;
	line-height: 1.5
}

.sec8__content__title{
	font-size: 37px;
	font-weight: bold;
	text-transform: uppercase;
}

/*.sec8__img{
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 1;
	transform: translateY(-50%); 
}*/

.sec8__photo{
	width: 50%;
	height: 672px;
	/*position: relative;*/
}

/*ninth section*/

.sec9{
	background: url("img/sec9.jpg") center no-repeat;
	width: 100%;
	height: 686px;
	background-size: cover;
	position: relative;
}

.sec9 > .container{
	display: flex;
	justify-content: flex-end;
	height: 686px;
	align-items: center;
}

.sec9__wrapper{
	width: 277px;
	color: white;
	text-align: right;
	font-family: 'Roboto', sans-serif;
}

.h3__sec9{
	text-transform: uppercase;
	line-height: 0.9;
	font-size: 58px;
	font-weight: bold;
}

.p__sec9{
	margin-top: 16px;
	text-align: right;
}

/*tenth section*/

.sec10{
	width: 100%;
	max-width: 975px;
	height: 1066px;
	margin: 200px auto 180px;
	display: flex;
	flex-direction: column;
	color: #00C0FF;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	text-align: center;
}

.sec10__box{
	width: 100%;
	height: 33.3%;
	display: flex;
	justify-content: space-between;
}

.sec10__text{
	width: 100%;
	max-width: 375px;
	height: 100%;
}

.sec10__h2{
	margin-top: 20px;
	text-transform: uppercase;
	font-size: 21px;
}

.s1__img{
	width: 100%;
	max-width: 375px;
	height: 100%;
	background-image: url("img/sec10__1.png");
	background-position: center;
	background-repeat: no-repeat;
}

.s2__img{
	width: 100%;
	max-width: 375px;
	height: 100%;
	background-image: url("img/sec10__2.png");
	background-position: center;
	background-repeat: no-repeat;
}

.s3__img{
	width: 100%;
	max-width: 375px;
	height: 100%;
	background-image: url("img/sec10__3.png");
	background-position: center;
	background-repeat: no-repeat;
}

.s10__p {
	margin-top: 50px;
}

.s10__h3{
	font-size: 16px;
	font-weight: normal;
}

.sec10__box:nth-child(2){
	flex-direction: row-reverse;
}

.sec10__box:nth-child(2), .sec10__box:nth-child(3){
	margin-top: 220px;
}

/*eleventh section*/

.sec11{
	background-color: #2B2B2B;
}

.header__sec11{
	width: 100%;
	margin: 0 auto;
	padding: 90px 0px;
	display: flex;
	justify-content: space-between; 
}

.sec11__item{
	width: 20%;
	height: 100%;
	font-family: 'Raleway', sans-serif;
	color: #fff;
}

.sec11__h2{
	font-size: 21px;
}

.sec11__p{
	margin-top: 12px;
	font-size: 17px;
}

/*twelfth section*/

.sec12{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color: #00C0FF;
}

.sec12__p{
	margin: 107px auto 22px;
	max-width: 713px;
	font-size: 20px;
}

.sec12__span{
	font-size: 18px;
	padding-bottom: 107px;
	font-weight: normal;
}

@media (max-width: 1200px) {

	.nav__link{
		font-size: 16px;
		margin: 0 40px;
	}

	.sec4{
		height: auto;
	}
		
	.sec8__common{
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
	}

	.sec8__content{
		align-items: center;
		margin: 20px 0;
		padding: 0;
	}

	.sec8__content__text{
		text-align: center;
	}

	.sec8__photo{
		align-items: center;
		width: auto;
	}
}

@media (max-width: 790px) {
	nav{
		display: none;
	}

	.wrapper{
		display: flex;
	}
}